<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>LUL</title>

	<!-- link to acquire bootstrap css -->
	<link rel="stylesheet" href="bootstrap.min.css">
	<link rel="stylesheet" href="styles.css">
    <script src="react.production.min.js"></script>
    <script src="react-dom.production.min.js"></script>
    <script src="browser.min.js"></script>

	<!-- scripts to change html -->
	<script>
		function renameRegion(region){
			document.getElementById("regionSearch").innerText = region;
			document.getElementById("regionbox").value = region;
		}
	</script>

</head>
<!-- style="background-color: #000" -->
<body style="margin-bottom: 20px;">
	<div class="container-fluid" id="main">
		<form action="/summoner" method="get">
			<div class="input-group mb-3" id="input_group" >

				<a href="/" style="padding: 0px; margin: 0px;"><img src="logo.png" class="rounded float-left" alt="..."></a>
				<!-- input for the summoner name -->
				<% if(searchedName !== null){ %>
					<input type="text" class="form-control" name="name" style="float:none;" aria-label="Text input with dropdown button" placeholder="Summoner Name" minlength="3" maxlength="16" value='<%= searchedName %>'>
				<% } else { %>
					<input type="text" class="form-control" name="name" style="float:none;" aria-label="Text input with dropdown button" placeholder="Summoner Name" minlength="3" maxlength="16" value="">
				<% } %>

				<!-- hidden input to be able to send region to the server -->
				<input type="hidden" class="form-control" id="regionbox" name="region" style="float:none;" aria-label="Text input with dropdown button" placeholder="Summoner Name" minlength="3" maxlength="16" value="NA1" style="display: none">

				<!-- dropdown element in the summoner search bar -->
				<div class="input-group-prepend">
					<button class="btn btn-secondary dropdown-toggle" id="regionSearch" type="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false" value="NA1" name="regionSelected">NA1</button>

					<div class="dropdown-menu" id="region_button">
						<a class="dropdown-item" onclick="renameRegion('NA1')">NA1</a>
						<a class="dropdown-item" onclick="renameRegion('KR')">KR</a>
						<a class="dropdown-item" onclick="renameRegion('JP1')">JP1</a>
						<a class="dropdown-item" onclick="renameRegion('EUW1')">EUW1</a>
						<a class="dropdown-item" onclick="renameRegion('EUN1')">EUN1</a>
						<a class="dropdown-item" onclick="renameRegion('OC1')">OC1</a>
						<a class="dropdown-item" onclick="renameRegion('BR1')">BR1</a>
						<a class="dropdown-item" onclick="renameRegion('LA1')">LA1</a>
						<a class="dropdown-item" onclick="renameRegion('LA2')">LA2</a>
						<a class="dropdown-item" onclick="renameRegion('RU')">RU</a>
						<a class="dropdown-item" onclick="renameRegion('TR1')">TR1</a>
					</div>

					<div class="input-group-append">
						<button class="btn btn-primary" id="special_button" type="submit">GO</button>
					</div>
					<div class="input-group-append">
						<button class="btn btn-primary" id="special_button" id="special_button" type="submit" name="update" value="true">UPDATE</button>
					</div>
				</div>
			</div>
		</form>

		<div class="container-fluid" style="overflow-wrap: break-word;">

			<% if(status !== null){ %>
				<p style="text-align: center;"><%= status %></p> 
			<% } %>

			<% if(summonerInfo !== null){ %>
				<div>
					<img src='img/profileicon/<%= summonerInfo.profileiconid %>.png' class="rounded float-left" alt="..." style="max-height: 64px; max-width: 64px; margin-right: 10px;">
					<h1 style="display: inline-block;"><%= summonerInfo.name %></h1>
					<a href="http://localhost:3000/summoner?name=<%= searchedName %>&region=NA1&update=true" style="display: inline-block;">
						<button class="btn btn-primary" id="special_button" id="special_button" type="submit" name="update" value="true" style=" margin-top: -10px; border-radius: 5px 5px 5px 5px;">UPDATE </button>
					</a>
					<h4 style="margin-top: -15px;">Level <%= summonerInfo.summonerlevel %></h4>	
				</div>
			<% } %>

			<% if(summonerInfo !== null){ %>
				<% summonerMatches.forEach(function(element) { %>
					<% if(element.participantid == 1 ) { %>
						<div style="padding: 0; background-color: #000; margin: 0px; width: 100%; display: inline-block;">
					<% } %>
					<% if(element.participantid == 1 || element.participantid == 6) { %>
					  	<% if(element.win == "Win") { %>
							<div  style="display: inline-block; background-color: #a3cfec; width: 50%; margin: 0; padding: 3px; float: right;">
								<table style="width:100%;">
						<% } else { %>
							<div  style="display: inline-block; background-color: #e2b6b3; width: 50%; margin: 0; padding: 3px; float: right;">
								<table style="width:100%;">
						<% } %>
					<% } %>
					<tr style="margin: 0px; padding: 0px;">
    					<% if(element.summonername == summonerInfo.name) { %>
	        				<td style="font-size: 13px; padding: 0px; margin: 0px;"><img src='img/champion/<%= element.champion %>.png' class="float-left" alt="..." style="max-height: 32px; max-width: 32px; margin-right: 10px; border-radius: 50%;"></td>
						<% } else { %>
							<td style="font-size: 13px; padding: 0px; margin: 0px;"><img src='img/champion/<%= element.champion %>.png' class="rounded float-left" alt="..." style="max-height: 32px; max-width: 32px; margin-right: 10px; border-radius: 50%;"></td>
						<% } %>
	        			<td style="font-size: 13px; padding: 0px; margin: 0px;"><%= element.summonername %></td>
	        		</tr>
	        		<% if(element.participantid == 5 || element.participantid == 10) { %> 
							</table>
						</div>
					<% } %>
					<% if(element.participantid == 10 ) { %>
						</div>
					<% } %>
	    		<% }); %>
    		<% } %>

		</div>
		<!-- scripts require to make bootstrap works -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>